.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 10px 100px 10px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}

.title {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;

  color: var(--main-text-color);

  padding-top: 100px;
  padding-bottom: 100px;
}

.title__color {
  color: var(--accent-text-color);
}

.subtitle {
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--main-text-color);

  margin-bottom: 30px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 270px;
  height: 40px;
  margin-bottom: 50px;

  background-color: var(--accent-bg-color);
  color: var(--second-text-color);
  font-family: inherit;
  border: none;

  cursor: pointer;
  transition: background-color var(--main-hover-animation);
}

.button:hover,
.button:focus {
  background-color: var(--second-bg-color);
}

.button__text {
  margin-right: 10px;
}
